<div class="craft-quick-edit"></div>

<script>
  if(everLoggedIn()) {
    document.addEventListener("DOMContentLoaded", async () => {
      try {
        const apiUrl = `/quickEdit/checkPermission/` + {{entryId}};
        const response = await fetch(apiUrl);
        const data = await response.json();
        const canEdit = data.canEdit;
        const parentEl = document.querySelector('.craft-quick-edit');
        if (canEdit) {
          parentEl.innerHTML = `
            <a class="craft-quick-edit_link" target="{{ target }}" href="{{ cpEditUrl }}" title="Edit Page">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path fill="currentColor" d="M5 19h1.425L16.2 9.225L14.775 7.8L5 17.575zm-2 2v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM19 6.4L17.6 5zm-3.525 2.125l-.7-.725L16.2 9.225z"/>
              </svg>
            </a>
        `;
        } else {
          parentEl.innerHTML = '';
        }
      } catch (error) {
        console.error('Quick Edit Error:', error);
      }
    });
  }
  function everLoggedIn() {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ever-logged-in=`);
    return parts.length === 2;
  }
</script>

<style>
  .craft-quick-edit {
    .craft-quick-edit_link {
      position: fixed;
      top: 0.5rem;
      right: 0.5rem;
      z-index: 1000;
      background-color: black;
      color: white;
      padding: 6px;
      text-decoration: none;
      border-radius: 3px;
      transition-property: opacity;
      transition-duration: 300ms;

      &:hover {
        opacity: 85%;
      }
    }
  }
</style>
